<div class="jumbotron">
  <h1></h1>
  <p>Welcome</p>
  <!--<p class="animated infinite" ng-class="main.classAnimation">
    <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
  </p>
  <p>
    With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
  </p>-->
</div>

<div class="row">
  <div class="xs-12">
    <div class="well" ng-hide="mainCtrl.apiCallFailed" style="height: 70px; overflow-y: scroll">
      <span us-spinner spinner-on="mainCtrl.showSpinner"></span>
      <ul style="white-space: nowrap">
        <li ng-repeat="source in mainCtrl.sources track by source.id" style="display: inline">
          <img ng-src="{{ source.urlsToLogos.small }}" alt="" class="thumbnail-container" style="height: 30px; margin-right: 10px;">
        </li>
      </ul>
    </div>

    <div ng-if="mainCtrl.apiCallFailed" class="alert alert-danger" role="alert">
      <strong>Sorry!</strong> Unable to connect to the API. Please try again later.
    </div>
  </div>
</div>