<div class="jumbotron">
  <h1>Welcome</h1>
  <h2><a href ui-sref="source">Start Exploring the news!</a></h2>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="well" ng-hide="mainCtrl.apiCallFailed" style="height: 70px; overflow-y: scroll">
      <span us-spinner spinner-on="mainCtrl.showSpinner"></span>
      <ul style="white-space: nowrap">
        <li ng-repeat="source in mainCtrl.sources track by source.id" style="display: inline">
          <img ng-src="{{ source.urlsToLogos.small }}" alt="" class="thumbnail-container" style="height: 30px; margin-right: 10px;">
        </li>
      </ul>
    </div>

    <div ng-if="mainCtrl.apiCallFailed" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <strong>Sorry!</strong> Unable to connect to the API. Please try again later.
    </div>
  </div>
</div>