<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-items" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#">
        news<span style="color: #5bc0de">cruise</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="menu-items">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a href ui-sref="home">Home</a></li>
        <li ui-sref-active="active"><a href ui-sref="source">Sources</a></li>
        <li ng-show="nbCtrl.loggedIn">
          <button class="btn btn-info navbar-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span ng-bind="nbCtrl.name"></span> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href ui-sref="feed"><span class="glyphicon glyphicon-list"></span> My Feed</a></li>
            <li><a href ui-sref="prefs"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
            <li><a href ng-click="nbCtrl.clearPrefs()" ui-sref="home"><span class="glyphicon glyphicon-remove"></span> Clear All</a></li>
          </ul>
        </li>
        <li ng-hide="nbCtrl.loggedIn">
          <button ui-sref="prefs"
                  class="btn btn-info navbar-btn" ng-hide="nbCtrl.loggedIn">Sign up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>