<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src="services.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="css.css">
    </head>
    <body ng-app="FolderApp">
    <div ng-controller="FolderController as ctrl">
        <div style="width: 50%; float: left">
            <h3>Folders</h3>
            <input type="checkbox" ng-model="ctrl.expandAll" id="expand">
            <label for="expand">Expand All</label>
            <div ng-repeat="folder in ctrl.folders">
                <h5 ng-bind="folder.name"></h5>
                <ul ng-show="ctrl.expandAll">
                    <li ng-repeat="file in folder.files track by $index"><span ng-bind="file"></span></li>
                </ul>
            </div>
        </div>
        <div style="width: 50%; float: left">
            File Name: <input type="text" ng-model="ctrl.newFile">
            <button ng-click="ctrl.selectedFolder.addFile(ctrl.newFile)" ng-disabled="!ctrl.selectedFolder">Add File</button>
            <span ng-repeat="folder in ctrl.folders"><br>
                <input type="radio" ng-model="ctrl.selectedFolder" ng-value="folder" id="{{folder}}">
                <label for="{{folder}}" ng-bind="folder.name"></label>
            </span>
        </div>
        <div style="width: 50%; padding-top: 400px">
            <h3>Form</h3>
            Name: <input type="text" ng-model="ctrl.taskName"><br>
            Description: <input type="text" ng-model="ctrl.taskDescription"><br>
            Priority:<br>
            <input type="radio" ng-model="ctrl.taskPriority" ng-value="'high'" id="high">
            <label for="high">High</label><br>
            <input type="radio" ng-model="ctrl.taskPriority" ng-value="'medium'" id="medium">
            <label for="medium">Medium</label><br>
            <input type="radio" ng-model="ctrl.taskPriority" ng-value="'low'" id="low">
            <label for="low">Low</label><br>
            <button 
                ng-click="ctrl.todoList.addTodo(ctrl.taskName, ctrl.taskDescription, ctrl.taskPriority)"
                ng-disabled="!ctrl.taskName||!ctrl.taskDescription||!ctrl.taskPriority">Add Todo</button>

            <h3>Todos List</h3>
            <div ng-repeat="todo in ctrl.todoList.todos" ng-class="todo.priority">
                <h5>Todo: {{$index + 1}}</h5>
                Name: <span ng-bind="todo.name"></span><br>
                Description: <span ng-bind="todo.description"></span><br>
            </div>
        </div>
    </div>
    </body>
</html>