<div class="row">
  <div class="well" style="height: 140px">
    <form name="form" novalidate>
      <div class="form-group col-xs-3" ng-class="{'has-error': form.fName.$touched && form.fName.$invalid }">
        <label class="control-label"><span style="visibility: hidden">A</span>
          <span ng-show="form.fName.$touched && form.fName.$invalid">Please enter your name</span>
        </label>
        <input class="form-control input-lg" type="text" placeholder="Full Name" name="fName"
               ng-model="prefsCtrl.prefs.name" required>
      </div>
      <div class="form-group col-xs-3" ng-class="{'has-error': form.email.$touched && form.email.$invalid }">
        <label class="control-label"><span style="visibility: hidden">A</span>
          <span ng-show="form.email.$touched && form.email.$invalid">Invalid email address</span>
        </label>
        <input class="form-control input-lg" type="email" placeholder="Email" name="email"
               ng-model="prefsCtrl.prefs.email" required> 
      </div>
      <div class="form-group col-xs-3">
        <button type="submit" class="btn btn-lg" ng-click="prefsCtrl.savePreferences()"
                ng-class="{ 'btn-info': !prefsCtrl.showOptions, 'btn-success': prefsCtrl.showOptions }"
                style="margin-top: 1.4em" ng-disabled="form.$invalid" ng-bind="prefsCtrl.buttonText"></button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="thumbnail-container col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="source in prefsCtrl.sources track by source.id" ng-if="prefsCtrl.showOptions">
    <label ng-class="{ selected: prefsCtrl.prefs[source.id] }" class="thumbnail thumbnail-prefs" role="button">
      <div class="pull-right">
        <img ng-src="{{ source.urlsToLogos.small }}" alt="{{ source.name }}">
      </div>
      <p><input type="checkbox" ng-model="prefsCtrl.prefs[source.id]" ng-change="prefsCtrl.savePreferences()"> <span ng-bind="source.name"></span></p>
    </label>
  </div>
</div>
