@import 'https://fonts.googleapis.com/css?family=Cookie|Raleway';

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


//=== Inverted navbar
// Reset inverted navbar basics
//$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
//$navbar-inverse-link-color:                 lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                #fff !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;





/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  padding: 70px 0;
}

.navbar-brand {
  font-size: 4em;
  font-family: 'Cookie', cursive;
}

.jumbotron {
  text-align: center;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail-container {
  &:hover {
    z-index: 999;
  }
  &.ng-enter, &.ng-leave, &.ng-move {
    transition: 0.5s ease-in all;
  }
  
  // fade in on enter/move
  &.ng-enter, &.ng-move {
    opacity: 0;

    &.ng-enter-active, &.ng-move-active {
      opacity: 1;
    }
  }

  // fade in on leave
  &.ng-leave {
    opacity: 1;

    &.ng-leave-active {
      opacity: 0;
    }
  }

  &.ng-enter-stagger, &.ng-leave-stagger, &.ng-move-stagger {
    transition-delay: 0.1s;
    transition-duration: 0;
  }
}

.thumbnail.thumbnail-sources {
  height: 200px;
  padding: 1em;
  overflow: hidden;
  transition: 0.2s ease-in-out all;

  // expand and darken on hover
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px 8px #999;
  }

  // image
  div.pull-right {
    width: 75px;
    height: 75px;
    img {
      width: 100%;
      padding-left: 3px;
      padding-bottom: 3px;
    }
  }
}

.thumbnail.thumbnail-prefs {
  height: 3em;

  &.selected, &:hover {
    background: $btn-info-bg;
    color: $btn-info-color;
    border-color: $btn-info-border;
  }

  p {
    margin-top: 0.5em;

    input {
      margin: 0 0.5em;
    }
  }

  div.pull-right {
    margin-top: 0.5em;
    height: 100%;
    img {
      height: 50%;
    }
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
